<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The index</title>
    {% load friends %}
</head>
<body>
{% if user.is_authenticated %}
    <h1>Your name is {{ user.first_name }} {{ user.last_name }}</h1>
    <h2>List of your five random friends:</h2>

    {% print_friends %}

    <a href="{% url 'logout' %}">
        <p>
            <button type="button" name="logout_btn" class="btn">
                logout
            </button>
        </p>
    </a>
{% else %}
    <h2>You are not logged in</h2>
    <a href=" {% url 'social:begin' 'vk-oauth2' %}">
        <p>
            <button type="button" name="button" class="btn
            btn-primary">авторизоваться
            </button>
        </p>
    </a>

{% endif %}
</body>
</html>